*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
  width: 100%;
  background: url('../images/contact.jpg') no-repeat;
}

nav{
	float: right;
	padding: 50px 0 0 30px
}
header {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 130px;
	background: #000080;
}
header .section {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
header .section .logo {
	float: left;
	margin: 0;
	padding: 5px 0 0 30px;
	width: 324px;
}

header .section ul {
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding-right: 30px;
}
header .section ul li {
	background: red;
	border: red;
	border-radius: 5px;
	display: inline-block;
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
header .section ul li a {
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
header .section ul li a:hover {
	color: #ccc;
}

header .section ul li.selected a {
	background: blue;
	border: blue;
	border-radius: 5px;
}
.moto h1{
	text-align: center;
}

.body {
	height: 900px;
	display: grid;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

.contact-wrap {
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 30%;
	background: url(../images/bg.jpg) no-repeat -400px -200px ;
  background: cover;
	color: #fff;
}

.contact-in:nth-child(2) {
	flex: 45%;
	background: #c31432;
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

.contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #fff;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.contact-in iframe {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

/* footer*/

#footer {
	background: #ff0000;
	border-top: 1px solid #9bd9e0;
	margin: 0;
	padding: 0;
}
#footer > div {
	margin: 0 auto;
	padding: 30px 0 28px;
	overflow: hidden;
	text-align: center;
	width: 960px;
}
#footer div p {
	color: #ededed;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 27px 0 0;
	text-align: center;
}
#footer div .connect {
	float: right;
	height: 18px;
	margin: 0 20px 0 150px;
	padding: 22px 20px;
	overflow: hidden;
	width: 144px;
}
#footer div .connect span {
	color: #ededed;
	display: inline-block;
	font-size: 12px;
	height: 19px;
	line-height: 21px;
	margin: 0;
	padding: 0 0 0 39px;
}
#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 20px;
	margin: 0 8px;
	padding: 0;
	text-indent: -99999px;
	width: 20px;
}
#footer div .connect #facebook {
	background-position: 0 -57px;
}
#footer div .connect #facebook:hover {
	background-position: -25px -57px;
}
